@{
    ViewData["Title"] = "Home";
}
<div>
    <h2>Secure IT Asset Management System</h2>
</div>
<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <i class="fas fa-warehouse fa-5x text-primary mb-4"></i> <!-- Icon -->
    <h1 class="display-4">Asset Dashboard</h1>
    <p class="lead">Manage and track your assets with ease.</p>

    <a asp-controller="Assets" asp-action="Index" class="btn btn-primary btn-lg mt-4">
        Go to Asset Dashboard
    </a>
</div>

<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <i class="fas fa-warehouse fa-5x text-primary mb-4"></i> <!-- Icon -->
    <h1 class="display-4">Account Options</h1>
    <p class="lead">Update your own user data</p>

    <a asp-controller="Assets" asp-action="Index" class="btn btn-primary btn-lg mt-4">
        Go to Asset Dashboard
    </a>
</div>
